.example-form {
  min-width: 50%;
  max-width: 100%;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

md-spinner {
  float:left;
  width: 10px;
  height: 10px;
  margin: 5px 10px 0px 0px;
}

#wrapper {
  width: 90%;
  background-color: #FFFFFF;
  padding: 10px;
  overflow: hidden; /* will contain if #first is longer than #second */
}
